{% extends 'base.html' %}



{% block title %}{{ council.name }}{% endblock %}



{% block tweet %}Find out if you can petition {{ council.name }} online: {% endblock %}



{% block content %}

    <h2>{{ council.name }}</h2>
    
    {% if council.petition_url %}
    
        <h3>Hurrah!</h3>
        
        <p>{{ council.name }} has an <a href="{% url core.views.out slug=council.slug %}">online petitions site</a>. You can visit it to make a new petition, or sign one created by someone else.</p>
        
        <p>Good luck!</p>
        
        {% if council.petition_set.count %}
        
        <h3>Petitions to {{ council.name }} include:</h3>
        
        <ul class='recent_petitions'>
            {% for petition in council.petition_set.all %}
                <li><a href="{% url core.views.out slug=council.slug petition_id=petition.id %}">{{ petition.title }}</a></li>
            {% empty %}
                <li>No recent petitions found...</li>
            {% endfor %}
        </ul>
    
        {% endif %}
    
    {% else %}
    
        
        {% if council.has_been_checked %}
            
            <h3>Bad news!</h3>
                        
            <p>{{ council.name }} does not have a petitions website so you can't make an online petition directly to them, or browse other petitions made by local people.</p>
            
            <p>
                However, we can help you contact your local councillor(s), via our easy-to-use site <a href="http://writetothem.com/">WriteToThem.com</a>. Please mail them to tell them why you would like to make a petition, and ask them how you should go about it.
            </p>
            
        {% else %}

        <h3>
            Sorry - we don’t know whether this council has a petitions site or not
        </h3>
        
        <p>

            We have not been able to check {{ council.name }}’s website for an
            e-petition site yet - but this site is brand new and we’re
            still finishing it.

        </p>

            <p>
            
             If you want to help please <a
            href="http://www.google.co.uk/search?q={{ council.name|urlencode            }}">visit their website</a>, search for an e-petitions page and <a
            href="{% url core.views.report_error %}?url={{            request.build_absolute_uri|urlencode }}">let us know</a> if you find
            one.

            </p>

        {% endif %}
    
    {% endif %}

{% endblock %}




{% block report_error_text %}
    {% if council.petition_url %}    
        Let us know if the e-petitions link is wrong or broken.
    {% else %}
        Does this council have an e-petitions website? Let us know.
        
        {% if council.has_been_checked %}
            <br>We last checked {{ council.last_checked|timesince }} ago.
        {% endif %}
        

    {% endif %}
{% endblock %}




{% block set_map_bounds %}
    {% if council.has_location %}
    <script type="text/javascript" charset="utf-8">

        pyc.set_map_bounds(
            {{ council.north_east.x }},
            {{ council.north_east.y }},
            {{ council.south_west.x }},
            {{ council.south_west.y }}
        );

        pyc.add_council_by_mapit_id( {{ council.mapit_id }} );

    </script>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

