{% extends 'base.html' %}

{% block title %}{{ council.name }}{% endblock %}

{% block content %}

<h2>{{ council.name }}</h2>

<script type="text/javascript" charset="utf-8">
    pyc.add_council_by_mapit_id( {{ council.mapit_id }} );
</script>

{% if council.petition_url %}

<h3>Hurrah!</h3>

<p>{{ council.name }} has an <a href="{{ council.petition_url }}">online petitions site</a>!</p>


<h3>Recent Petitions</h3>

<ul class='recent_petitions'>
    {% for petition in council.petition_set.all %}
        <li><a href="{{ petition.url }}">{{ petition.title }}</a></li>
    {% empty %}
        <li>No recent petitions found...</li>
    {% endfor %}
</ul>


{% else %}

<h3>Bad news!</h3>

<p>{{ council.name }} does not have a petitions website so you can't make an
online petition directly to them.</p>

{% endif %}

{% endblock %}