{% extends 'base.html' %}



{% block title %}{{ council.name }}{% endblock %}



{% block tweet %}Find out if you can petition {{ council.name }} online: {% endblock %}



{% block content %}

    <h2>{{ council.name }}</h2>
    
    {% if council.petition_url %}
    
        <h3>Hurrah!</h3>
        
        <p>{{ council.name }} has an <a href="{{ council.petition_url }}">online petitions site</a>!</p>
        
        
        <h3>Recent Petitions</h3>
        
        <ul class='recent_petitions'>
            {% for petition in council.petition_set.all %}
                <li><a href="{{ petition.url }}">{{ petition.title }}</a></li>
            {% empty %}
                <li>No recent petitions found...</li>
            {% endfor %}
        </ul>
    
    
    {% else %}
    
        <h3>Bad news!</h3>
        
        <p>{{ council.name }} does not have a petitions website so you can't make an
        online petition directly to them.</p>
        
        {% if council.last_checked %}
            <p>We checked this council {{ council.last_checked|timesince }} ago.</p>
        {% else %}
            <p>We've not actually checked this council yet. If you want to help please <a href="http://www.google.co.uk/search?q={{ council.name|urlencode }}">visit their website</a> and search for an e-petitions page.</p>
            <p>If you find one <a href="{% url core.views.report_error %}?url={{ request.build_absolute_uri|urlencode }}">let us know</a>.</p>
        {% endif %}
    
    {% endif %}

{% endblock %}




{% block report_error_text %}
    {% if council.petition_url %}    
        Let us know if the e-petitions link is wrong or broken.
    {% else %}
        Does this council have an e-petitions website? Let us know.
    {% endif %}
{% endblock %}




{% block set_map_bounds %}
    {% if council.has_location %}
    <script type="text/javascript" charset="utf-8">

        pyc.set_map_bounds(
            {{ council.north_east.x }},
            {{ council.north_east.y }},
            {{ council.south_west.x }},
            {{ council.south_west.y }}
        );

        pyc.add_council_by_mapit_id( {{ council.mapit_id }} );

    </script>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

