{% extends 'base.html' %}

{% block title %}'{{ q }}' search results{% endblock %}

{% block content %}

<h2>Councils covering '{{ q }}'</h2>

{% for council in object_list %}
    <p>
        <a href="{% url core.views.council slug=council.slug %}">{{ council.name }}</a>
    </p>
{% empty %}
    <p>
        No councils were found for '{{ q }}' - is it a valid postcode?
    </p>
{% endfor %}

<form action="{% url core.views.search %}">
    <input id="search_query" type="text" name="q" value="{{ q }}" />
    <input type="submit" value="Search again" />
</form>


{% endblock %}