{% extends 'base.html' %}

{% block title %}'{{ q }}' search results{% endblock %}

{% block content %}

<h2>Councils for '{{ q }}'</h2>

<ul class="search_results">
{% for council in object_list %}
    <li>
        <a href="{% url core.views.council slug=council.slug %}">{{ council.name }}</a>
    </li>

{% empty %}
    <li>
        Sorry, we don’t seem to be able to find a council with that name.
        Please check and try again, or try a postcode.
    </li>
{% endfor %}
</ul>

{% if object_list.count %}

    <p>
        There is more than one council matching your search term - choose which one
        you’d like to petition.
    </p>

    <p>
        <strong>Hint</strong> - District Councils are generally responsible
        for local services, including planning, council housing, and rubbish
        collection. County Councils are generally responsible for local services,
        including education, social services, transport, roads (except trunk roads
        and motorways), public rights of way, and libraries. But there are lots of
        exceptions - if in doubt ask the councils.
    </p>

{% endif %}

<form action="{% url core.views.search %}">
    <input id="search_query" type="text" name="q" value="{{ q }}" />
    <input type="submit" value="Search again" />
</form>



{% endblock %}


{% block set_map_bounds %}
    {% if bounds %}
    <script type="text/javascript" charset="utf-8">

        pyc.set_map_bounds(
            {{ bounds.north }},
            {{ bounds.east  }},
            {{ bounds.south }},
            {{ bounds.west  }}
        );

        {% for id in kml_ids %}
            pyc.add_council_by_mapit_id( {{ id }} );
        {% endfor %}

    </script>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
