* {
  margin: 0;
  padding: 0; }

h1, h2, h3, p {
  margin-bottom: 1em; }

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif, serif;
  background-color: #99b3cc; }

p {
  text-align: left; }

#background_map_outer {
  display: none; }

.wide_only {
  display: none; }

#top_bar {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 30px;
  background-color: #e0e8ef;
  background-color: rgba(255, 255, 255, 0.7); }
  #top_bar a {
    text-decoration: none;
    color: inherit; }
  #top_bar a:hover {
    text-decoration: underline; }
  #top_bar strong {
    float: left;
    padding: 4px;
    font-size: 16px; }
  #top_bar #top_bar_menu {
    float: right;
    font-size: 12px;
    padding: 2px; }
    #top_bar #top_bar_menu li {
      padding: 0 0.5em;
      display: inline;
      list-style: none; }
      #top_bar #top_bar_menu li form {
        display: inline; }
        #top_bar #top_bar_menu li form input {
          margin: 1px; }
  #top_bar #moresites {
    padding-right: 0;
    position: relative; }
    #top_bar #moresites a {
      background: url(../bararrow.png) no-repeat right 3px;
      padding-right: 14px; }
  #top_bar #barmenu {
    width: 20em;
    background: white;
    z-index: 100;
    position: absolute;
    top: 30px;
    right: 0;
    margin: 0;
    padding: 0;
    text-transform: none;
    border: solid 1px #a4a4a4;
    display: none; }
    #top_bar #barmenu li {
      float: none;
      margin: 0;
      padding: 0;
      border-left: none;
      border-top: dotted 1px #a4a4a4; }
      #top_bar #barmenu li a {
        background: none;
        display: block;
        padding: 0.5em 1em;
        color: #2c4a9e; }
      #top_bar #barmenu li a:hover {
        background: #E9F3FE; }
      #top_bar #barmenu li form {
        padding: 0.5em; }
        #top_bar #barmenu li form input.textbox {
          width: 17em;
          margin-right: 0.7em;
          margin-left: 0.5em;
          margin-bottom: 0.3em; }
        #top_bar #barmenu li form label {
          display: block;
          padding-top: 0.5em;
          padding-left: 1em;
          color: #333; }
    #top_bar #barmenu li.first {
      border-top: none; }
    #top_bar #barmenu .menutitle {
      color: #808080;
      padding: 0.5em 1em;
      font-weight: bold; }
    #top_bar #barmenu .bardivider {
      border-top: solid 1px #ccc; }
    #top_bar #barmenu .bordernodivider {
      border-top: none; }

#social {
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 0; }
  #social div.item {
    margin: 4px; }

#dev-site-warning {
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(255, 128, 128, 0.7);
  padding: 2px; }
  #dev-site-warning p {
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 75%;
    font-family: "Arial", sans-serif; }
    #dev-site-warning p a {
      color: inherit; }

#content {
  margin: 30px auto;
  width: 100%;
  background: #f5f7fa;
  text-align: center; }

#content_inner {
  padding: 1em; }

#homepage_search input {
  font-size: 150%;
  text-align: center;
  margin: 0.25em; }

ul.recent_petitions {
  font-size: 80%;
  text-align: left; }
  ul.recent_petitions li {
    padding: 0.5em 3em;
    list-style: none; }
    ul.recent_petitions li a {
      color: inherit; }
  ul.recent_petitions li:hover {
    background-color: #ddd; }
    ul.recent_petitions li:hover a:hover {
      color: blue; }

ul.search_results li {
  padding: 0 1em 1em;
  list-style: none; }

.infoBox {
  background-color: #fff;
  font-size: 12px;
  min-width: 200px;
  padding: 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-border-radius-top-left: 0px;
  -webkit-border-radius-top-left: 0px;
  border-top-left-radius: 0px;
  border: 1px solid #000; }

#report_error {
  margin-top: 1em;
  font-size: 75%;
  color: #888; }
  #report_error a {
    color: inherit; }
