$google_maps_water: #99b3cc;

$serif:       "Palatino", "Palatino Linotype", serif;
$sans:        "Arial", sans-serif;
$promo_serif: "Goudy Bookletter 1911", Georgia, arial, serif;

@mixin roundedCorners ( $radius ) {
    -moz-border-radius:    $radius;
    -webkit-border-radius: $radius;
    border-radius:         $radius;
}

@mixin boxShadow( $h, $w, $blur, $color ) { 
    -moz-box-shadow:    $h $w $blur $color; 
    -webkit-box-shadow: $h $w $blur $color; 
    box-shadow:         $h $w $blur $color;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin-bottom: 1em;
}

body {
    margin:0; 
    padding:0;
    font-family: $sans;
    background-color: $google_maps_water;
}

#background_map_outer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $google_maps_water;
    opacity: 0.5;
    z-index: -1;
}

$top_bar_height: 20px;

#top_bar {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: $top_bar_height;
    
    background-color: #e0e8ef;
    background-color: rgba( 255,255,255, 0.7);
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    a:hover {
        text-decoration: underline;
    }

    strong {
        float: left;
        padding: 2px;
        font-size: 16px;
    }
    
    ul {
        float: right;
        font-size: 14px;
        
        li {
            padding: 2px;
            display: inline;
            list-style: none;
            
            form {
                display: inline;
                input {
                    margin: 1px;
                }
            }
        }
    }
}

#social {
    z-index: 1;
    position: absolute;
    top: $top_bar_height;
    left: 0;
    
    div.item {
        margin: 4px;
    }
}

#dev-site-warning {
    z-index: 1;
    position: absolute;
    top: $top_bar_height;
    right: 0;
    
    background: rgba( 255,128,128, 0.7);
    padding: 2px;
    
    p {
        color: #000;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 75%;
        font-family: $sans;
        a { color: inherit; }
    }
}

#content {
/*    position: fixed;*/
/*    top: 80px;*/
/*    left: 25%;*/

    margin:  80px auto 0 auto;
    width: 50%;
    background: #f5f7fa;
    background: rgba(255,255,255,0.9);

    @include boxShadow( 1px, 1px, 6px, #444 );
    @include roundedCorners( 8px );

    text-align: center;
    padding: 1em;

}

#homepage_search {
    input {
        font-size: 200%;
        text-align: center;
    }
}

ul.recent_petitions {
    font-size: 80%;
    
    li {
        padding: 0.5em 3em;
        list-style: none;
        a { color: inherit; }
    }
    
    li:hover {
        background-color: #ddd;
        a:hover {
            color: blue;
        }

    }
}
