$google_maps_water: #99b3cc;

$serif:       "Palatino", "Palatino Linotype", serif;
$sans:        "Arial", sans-serif;
$promo_serif: "Goudy Bookletter 1911", Georgia, arial, serif;

@mixin roundedCorners ( $radius ) {
    -moz-border-radius:    $radius;
    -webkit-border-radius: $radius;
    border-radius:         $radius;
}

@mixin roundedCornersTopLeft ( $radius ) {
    -moz-border-radius-top-left:    $radius;
    -webkit-border-radius-top-left: $radius;
    border-top-left-radius:         $radius;
}

@mixin boxShadow( $h, $w, $blur, $color ) { 
    -moz-box-shadow:    $h $w $blur $color; 
    -webkit-box-shadow: $h $w $blur $color; 
    box-shadow:         $h $w $blur $color;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin-bottom: 1em;
}

body {
    margin:0; 
    padding:0;
    font-family: 'Merriweather', $sans, serif;
    text-shadow: 8px 8px 8px #ddd;
    background-color: $google_maps_water;
}

p {
    text-align: left;
}

#background_map_outer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $google_maps_water;
    opacity: 0.5;
    z-index: -1;
}

$top_bar_height: 20px;

#top_bar {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: $top_bar_height;
    
    background-color: #e0e8ef;
    background-color: rgba( 255,255,255, 0.7);
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    a:hover {
        text-decoration: underline;
    }

    strong {
        float: left;
        padding: 2px;
        font-size: 16px;
    }
    
    ul {
        float: right;
        font-size: 12px;
        
        li {
            padding: 0 0.5em;
            display: inline;
            list-style: none;
            
            form {
                display: inline;
                input {
                    margin: 1px;
                }
            }
        }
    }
    
    #moresites {
        padding-right:0;
        position:relative;

        a {
            background:url(../bararrow.png) no-repeat right 3px;
            padding-right:14px;
        }
    }
        
    #barmenu {
        width:          20em;
        background:     white;
        z-index:        100;
        position:       absolute;
        top:            $top_bar_height;
        right:          0;
        margin:         0;
        padding:        0;
        text-transform: none;
        border:         solid 1px #a4a4a4;
        display:        none;
    
        li {
            float:none;
            margin:0;
            padding:0;
            border-left:none;
            border-top:dotted 1px #a4a4a4;
                    
            a {
                background:none;
                display:block;
                padding:0.5em 1em;
                color:#2c4a9e;
            }
            
            a:hover {
                background:#E9F3FE;
            }
            
            form {
                padding:0.5em;
            
                input.textbox {
                    width:17em;
                    margin-right:0.7em;
                    margin-left:0.5em;
                    margin-bottom:0.3em;
                }

                label {
                    display:block;
                    padding-top:0.5em;
                    padding-left:1em;
                    color:#333;
                }        
            }
        }
            
        li.first {
            border-top:none;
        }    

        .menutitle {
            color:#808080;
            padding:0.5em 1em;
            font-weight:bold;
        }
        
        .bardivider {
            border-top:solid 1px #ccc;
        }
        
        .bordernodivider {
            border-top:none
        }
        
    }
}

#social {
    z-index: 1;
    position: absolute;
    top: $top_bar_height;
    left: 0;
    
    div.item {
        margin: 4px;
    }
}

#dev-site-warning {
    z-index: 1;
    position: absolute;
    top: $top_bar_height;
    right: 0;
    
    background: rgba( 255,128,128, 0.7);
    padding: 2px;
    
    p {
        color: #000;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 75%;
        font-family: $sans;
        a { color: inherit; }
    }
}

#content {
/*    position: fixed;*/
/*    top: 80px;*/
/*    left: 25%;*/

    margin:  80px auto 0 auto;
    width: 50%;
    background: #f5f7fa;
    background: rgba(255,255,255,0.9);

    @include boxShadow( 1px, 1px, 6px, #444 );
    @include roundedCorners( 8px );

    text-align: center;
    padding: 1em;

}

#homepage_search {
    input {
        font-size: 200%;
        text-align: center;
    }
}

ul.recent_petitions {
    font-size: 80%;
    text-align: left;
    
    li {
        padding: 0.5em 3em;
        list-style: none;
        a { color: inherit; }
    }
    
    li:hover {
        background-color: #ddd;
        a:hover {
            color: blue;
        }

    }
}

ul.search_results {
        li {
        padding: 0.5em 3em;
        list-style: none;
    }
}

.infoBox {
    background-color: #fff;
    font-size: 12px;
    min-width: 200px;
    padding: 4px;
    @include roundedCorners( 10px );
    @include roundedCornersTopLeft( 0px );
    border: 1px solid #000;
}

#report_error {
    margin-top: 1em;
    font-size: 75%;
    color: #888;
    a {
        color: inherit;
    }
}

