@import url(http://fonts.googleapis.com/css?family=Merriweather:300,regular,700,900);
body {
  font-family: "Merriweather", "Arial", sans-serif, serif;
  text-shadow: 8px 8px 8px #ddd; }

.wide_only {
  display: block; }

#background_map_outer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #99b3cc;
  opacity: 0.5;
  z-index: -1; }

#content {
  margin: 80px auto 0 1em;
  width: 30%;
  min-width: 250px;
  background: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 1px 1px 6px #444444;
  -webkit-box-shadow: 1px 1px 6px #444444;
  box-shadow: 1px 1px 6px #444444;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }
