@import "shared.scss";


@import url(http://fonts.googleapis.com/css?family=Merriweather:300,regular,700,900);

body {
    font-family: 'Merriweather', $sans, serif;
    text-shadow: 8px 8px 8px #ddd;
}

.wide_only {
    display: block;
}

#background_map_outer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $google_maps_water;
    opacity: 0.5;
    z-index: -1;
}

#content {
    margin:  80px auto 0 1em;
    width: 30%;
    min-width: 250px;
    background: rgba(255,255,255,0.9);

    @include boxShadow( 1px, 1px, 6px, #444 );
    @include roundedCorners( 8px );
}

