<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>{% block title %}{% endblock %} :: PetitionYourCouncil.com</title>

        {% block extra_head_tags %}{% endblock %}
        
        <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8">
        <!--[if IE 6]>
            <link rel="stylesheet" href="/static/css/ie6.css" type="text/css" media="screen" charset="utf-8">
        <![endif]-->
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/main.js" type="text/javascript" charset="utf-8"></script>
        
    </head>
    <body>

        <div id="background_map">
            <noscript>To see map please enable JavaScript</noscript>
        </div>
        
        <div id="dev-site-warning">
            <p>This is a beta site - there may be some small glitches and issues.</p>
        </div>

        <script type="text/javascript" charset="utf-8">
            load_background_map();
        </script>

        <div id="content">
        {% block content %}
            Content goes here
        {% endblock %}
        </div>

    </body>
</html>


