{% extends 'admin/base_site.html' %}
{% load i18n adminmedia %}

{% block title %}Find petitions for '{{ council.name }}'{% endblock %}

{% block content %}

<h1>Find petitions for '{{ council.name }}'</h1>

<p>Please find the petitions site and feed for this council. If you can't find
any details please save the blank form. This will update a field that will
prevent the council being checked again for about a month. If you're not sure
use the skip link instead, and the council will come up to be checked again
sooner.</p>

<p>After you save the form you'll be redirected to the next council that needs
to be checked.</p>


<h1>How to find the petitions site</h1>

<p>Please only search for the petitions site quickly using one of the three Google searches. If there is nothing on the first page of results that looks promising assume that the site has no petitions.</p>


<form action="" method="post">
    <fieldset>

        <p>
            Google for
            <strong><a href="http://www.google.co.uk/search?q=epetitions+{{ council.name }}">"epetitions {{ council.name }}"</a></strong>
        </p>

        <p>
            Google for
            <strong><a href="http://www.google.co.uk/search?q=e-petitions+{{ council.name }}">"e-petitions {{ council.name }}"</a></strong>
        </p>

        <p>
            Google for
            <strong><a href="http://www.google.co.uk/search?q=petitions{{ council.name }}">"petitions {{ council.name }}"</a></strong>
        </p>

        {{ form.as_p }}
        
        <label for="form_submit">&nbsp;</label>
        <input type="submit" id="form_submit" value="Save council details if you found them" />
        
        <strong>
            or <a href="{% url core.admin_views.next_missing_site %}">skip to the next council</a>.
        </strong>

    </fieldset>
</form>

<h2>Further details</h2>

<dl>
    <dt>Petition url</dt>
    <dd>The url to the page about e-petitions. Note that it must be for online petitions.</dd>

    <dt>Petition RSS</dt>
    <dd>An RSS feed of petitions</dd>

    <!-- <dt>Contact email</dt>
    <dd>An email address that can be used to contact the council. Usually the general contact address rather than a petition specific address.</dd> -->

</dl>

<!-- <p><strong>You must supply either a petition url or a contact email address</strong></p> -->

{% endblock %}