{% extends 'admin/base_site.html' %}
{% load i18n adminmedia %}

{% block title %}Find petitions for '{{ council.name }}'{% endblock %}

{% block content %}

<h1>Find petitions for '{{ council.name }}'</h1>

<p>Please find the petitions site and feed for this council. If you can't find
any details please save the blank form. This will update a field that will
prevent the council being checked again for about a month. If you're not sure
use the skip link instead, and the council will come up to be checked again
sooner.</p>

<p>After you save the form you'll be redirected to the next council that needs
to be checked.</p>

<p>
    You probably want to use a google search for <a href="http://www.google.co.uk/search?q={{ council.name }}">"{{ council.name }}"</a>
</p>

<p>
    Note - don't save the form <a href="{% url core.admin_views.next_missing_site %}">if you just want to skip to the next missing site</a>.
</p>

<form action="" method="post">

    {{ form.as_p }}

    <label for="form_submit">&nbsp;</label>
    <input type="submit" id="form_submit" value="Save petition site details" />
    (note - checks the links so may be slow)
</form>


{% endblock %}